# Virtual Environment
.venv/
.venv-1/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python environment files
*.pyo

# Temporary files
*.tmp
*.log